
name: CI Test

# Defines environmental variables
env:
  GO_VERSION: '1.25.4'
  SERVICE_NAME: 'service-template'

# Controls when the action will run
on:
  pull_request:
    branches:
      - main

# A series of workflow jobs that can run sequentially or in parallel
jobs:
  build:
    name: Build and Test

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout source
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    # Setup the Go environment
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: "${{ env.GO_VERSION }}"

    # Build the container so TestContainers has something to run
    - name: Build Docker container
      run: docker build -t "${{ env.SERVICE_NAME }}" .

    # Run the tests
    - name: Test with the Go CLI
      run: go test
